<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['waep.component.mainnav']}"/>

<div class="main-nav-bar">
        <div class="container">
            <nav>
        <div class="menu-icons">
            <i class="icon ion-md-menu"></i>
            <i class="icon ion-md-close"></i>
        </div>
        
<a href="#" class="logo"><img class="logo" src="/content/dam/waep/epsilon-logo--white.svg" alt="Epsilon" width="120px" height="41px"></a>
      
        <ul class="nav-list">
            <li>
                <a href="#">Products & Services
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a href="#">Epsilon People Cloud
                            <i class="fas fa-caret-right"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Overview</a>
                            </li>
                            <li>
                                <a href="#">Digital Media Solutions
                                    <i class="fas fa-caret-right"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Retention</a>
                                    </li>
                                    <li>
                                        <a href="#">Acquisition</a>
                                    </li>
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Category Driver</a>
                                    </li>
                                    <li>
                                        <a href="#">Actions</a>
                                    </li>
                                    <li>
                                        <a href="#">Location Driver</a>
                                    </li>
                                    <li>
                                        <a href="#">Cookieless Solution</a>
                                    </li>
                                
                                </ul>
                            </li>
                            <li>
                                <a href="#">Data Platforms
                                    <i class="fas fa-caret-right"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Customer</a>
                                    </li>
                                    <li>
                                        <a href="#">Prospect</a>
                                    </li>
                                    <li>
                                        <a href="#">Discovery</a>
                                    </li>
                                
                                </ul>
                            </li>
                            <li>
                                <a href="#">Loyalty</a>
                            </li>
                            <li>
                                <a href="#">Messaging</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Identity: CORE ID</a>
                    </li>
                    <li>
                        <a href="#">Retail Media Network <i class="fas fa-caret-right"></i></a>
<ul class="sub-menu">
                                    <li>
                                        <a href="#">For Retailers</a>
                                    </li>
                                    <li>
                                        <a href="#">For Brands</a>
                                    </li>                              

                                </ul>
                    </li>                      
                    <li>
                        <a href="#">Epsilon Dynamic Creative</a>
                    </li>
                    <li >
                        <a href="#">Data</a>
                    </li>
                    <li>
                        <a href="#">Publishers</a>
                    </li>
                    <li>
                        <a href="#">Marketing Services <i class="fas fa-caret-right"></i></a>
                        <ul class="sub-menu">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Strategic Consulting</a>
                                    </li>                                

                                </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Industries <i class="fas fa-caret-down"></i></a>
                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Auto</a>
                                    </li>
                                    <li>
                                        <a href="#">Consumer Packaged Goods</a>
                                    </li>
                                    <li>
                                        <a href="#">Financial Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Healthcare</a>
                                    </li>
                                  <li>
                                        <a href="#">Restaurants</a>
                                    </li>
                                    <li>
                                        <a href="#">Retail</a>
                                    </li>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Tourism</a>
                                    </li>
                                </ul>
            </li>
            <li>
                <a href="#">Client success <i class="fas fa-caret-down"></i></a>
                 <ul class="sub-menu">
                                    <li>
                                        <a href="#">Case studies</a>
                                    </li>

                                </ul>

            </li>
            <li>
                <a href="#">Insights <i class="fas fa-caret-down"></i></a>
                 <ul class="sub-menu">
                                    <li>
                                        <a href="#">All Insights</a>
                                    </li>
                                    <li>
                                        <a href="#">CORE Content</a>
                                    </li> 
                                     <li>
                                        <a href="#">Resources</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                     <li>
                                        <a href="#">In the News</a>
                                    </li>
                                    <li>
                                        <a href="#">Trends <i class="fas fa-caret-right"></i></a>
                                  <ul class="sub-menu">
                                    <li>
                                        <a href="#">Third-Party Cookies</a>
                                    </li>
                                    <li>
                                        <a href="#">IDFA</a>
                                    </li>                                

                                </ul>
                                    </li>

                                </ul>
            </li>
            <li class="move-right btn">
                <a href="#">Contact Us</a>
            </li>
        </ul>
        </nav>
        </div>
    </div>