<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['waep.horizontalScroll']}"/>

   <div class="wrapper-main--row">

        <div class="wrapper-main" id="link1">
          <div class="wrapper-main__item"wrapper-row>
            <h1>Past</h1>
                <span>In 2019, Publicis Groupe acquired Epsilon in one of the largest acquisitions in marketing history. 
                    The event put Epsilon at the center of operations
                    for Publicis around the world and set the stage for us to lead the industry in its own transformation.</span>
          </div>
          <div class="wrapper-main__image">
            <img alt="past" src="/content/dam/waep/about_us_horiz_scroll1.png" width="450px"/>
          </div>
        </div>

        <div class="wrapper-main" id="link2">
            <div class="wrapper-main__item">
                <h1>Present</h1>
                <span>Positioned at the core of Publicis Groupe, Epsilon
                     is a global company with over 8,000 employees in over 40 offices around the world.</span>
            </div>
            <div class="wrapper-main__image">
                <img alt="present" src="/content/dam/waep/about_us_horiz_scroll2.png" width="350px"/>
            </div>
          </div>

          <div class="wrapper-main" id="link3">
            <div class="wrapper-main__item">
                <h1>Future</h1>
                <span>Going forward, we’re dedicated to helping clients understand
                     their customers as needs and habits change during the
                      economic recovery and beyond. We’re committed to going
                       deeper into our own transformation and leading the marketing industry 
                       in this new digital-first world.</span>
            </div>
            <div class="wrapper-main__image">
                <img alt="future" src="/content/dam/waep/about_us_horiz_scroll3.png" width="450px"/>
            </div>
          </div>
        
      </div>

