<div class="statistics__container light">
    <div class="statistics__container__content">
        <div class="stat-blurb__container">
            <h2 class="title">${properties.heading}</h2>
            <p class="paragraph">${properties.headingDescription}</p>
        </div>
        <div class="stat-all__container">
            <div class="stat-individual__container index_0 standard">
                <h2 class="stat__value">
                    <div class="ring-container ring-container_0" style="transform: translate(0px, 0px); opacity: 1;">
                        <svg class="ring ring_0" viewBox="0 0 176 176">
                            <circle class="ring__circle" fill="transparent" r="86" cx="50%" cy="50%"
                                stroke-dasharray="541" stroke-dashoffset="541" data-percent="1"
                                style="fill: transparent;">
                            </circle>
                        </svg>
                    </div>
                    <span data-stat-attr="200M+">${properties.statValue1}</span>
                </h2><span class="stat__text">${properties.statValue1_desc}</span>
            </div>
            <div class="stat-individual__container index_1 standard">
                <h2 class="stat__value">
                    <div class="ring-container ring-container_0" style="transform: translate(0px, 0px); opacity: 1;">
                        <svg class="ring ring_0" viewBox="0 0 176 176">
                            <circle class="ring__circle" fill="transparent" r="86" cx="50%" cy="50%"
                                stroke-dasharray="541" stroke-dashoffset="541" data-percent="1"
                                style="fill: transparent;"></circle>
                        </svg>
                    </div>
                    <span data-stat-attr="200M+">${properties.statValue2}</span>
                </h2><span class="stat__text">${properties.statValue2_desc}</span>
            </div>
            <div class="stat-individual__container index_2 standard">
                <h2 class="stat__value">
                    <div class="ring-container ring-container_0" style="transform: translate(0px, 0px); opacity: 1;">
                        <svg class="ring ring_0" viewBox="0 0 176 176">
                            <circle class="ring__circle" fill="transparent" r="86" cx="50%" cy="50%"
                                stroke-dasharray="541" stroke-dashoffset="541" data-percent="1"
                                style="fill: transparent;"></circle>
                        </svg>
                    </div>
                    <span data-stat-attr="200M+">${properties.statValue3}</span>
                </h2><span class="stat__text">${properties.statValue3_desc}</span>
            </div>
        </div>
    </div>
</div>