<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['waep.mainfooter']}"/>

<div class="footer-custom">
<div class="block-mod--main">

    <div class="block-footer">

        <!-- Footer main -->
        <section class="block-footer__main">
          <div class="block-footer__item">
            <h2 class="block-footer__title">Start the Conversation</h2>
            <button class="block-footer__btn">Contact Us</button>
          </div>
          <div class="block-footer__item">
            <h2 class="block-footer__title">Stay Connected</h2>
             <!-- Footer social -->
            <section class="block-footer__social">
                <ul class="block-footer__social-list">
                <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                </ul>
            </section>
          </div>
          <div class="block-footer__item">
            <h2 class="block-footer__title">Select Region</h2>
            <select name="region" id="region" class="block-footer__select">
                <option value="us">United States</option>
                <option value="china">China</option>
                <option value="japan">Japan</option>
                <option value="uk">United Kingdom</option>
            </select>
        </div>
        </section>
       
        <section class="block-footer__middle">
            <ul class="block-footer__middle-services">
              <li><a href="#" class="block-footer__link">Consumer Info</a></li>
              <li><a href="#" class="block-footer__link">Privacy Policy</a></li>
              <li><a href="#" class="block-footer__link">Terms & Conditions</a></li>
              <li><a href="#" class="block-footer__link">Ad Choices</a></li>
              <li><a href="#" class="block-footer__link">Do Not Sell My Personal Information</a></li>
            </ul>
        </section>

        <section class="block-footer__bottom">
          <span class="block-footer__bottom-stmt">
            &copy; 2021 Epsilon  Management, LLC. All rights reserved. All names and logos 
                are trademarks or registered trademarks of their respective owners.
            </span>
        </section>
      </div>
 
 </div>
</div>